*{
	margin:0;
	padding: 0;
	box-sizing:border-box;
}
.carousel{
	width:100%;
}
.navbar-default{
	margin:0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color:white;
}
.tour{
	padding:50px;
}
h1{
	margin-top: 
}
h2{
	padding: 20px;
}
.testimonios{
	padding:80px;
}
.contacto{
	background-color: #fa8072;
}
.contacto h2{
	color:white;
}
label{
	color:white;
}
.fa{
	font-size: 30px;
	padding:18px;
	text-align:center;
}
.fa:hover{
	color:#fa8072;
}
form{
	padding: 68px;
}
footer{
	padding:28px;
	background: #f8f8f8;
}
.guiado{
	background: green;
	font-size: 60px;
}
p{
	color:#fa8072;
	font-size: 20px;
}